body {
	margin: 0;
	background-image: url(../img/background.jpg);
}
.maindiv {
	width: 100%;
	height: auto;
}

#quad1 {
	width: 100%;
}
#img1{
 	text-align: center;
	height: 8vh;
	display: block;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: 47.6%; 
}
#image1 {
	height: 100%;
	width: 100%;
	display: block;
}
#p1 {
	color: #fff;
	width:  100%;
	font-size: 4vw;
}
#img2{
 	text-align: center;
	height: 8vh;
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 47.6%; 
}
#image2 {
	height: 100%;
	width: 100%;
	display: block;
}
#p2 {
	color: #fff;
	width:  100%;
	font-size: 4vw;
}
#img3{
 	text-align: center;
	height: 8vh;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 47.6%; 
}
#image3 {
	height: 100%;
	width: 100%;
	display: block;
}
#p3 {
	color: #fff;
	width:  100%;
	font-size: 4vw;
}
#img4{
 	text-align: center;
	height: 8vh;
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 47.6%; 
}
#image4 {
	height: 100%;
	width: 100%;
	display: block;
}
#p4 {
	color: #fff;
	width:  100%;
	font-size: 4vw;
}